/*-- scss:defaults --*/

// Colors

$body-bg: #485178; // Background color
$body-color: #FAE3A0; // Default text color
$link-color: #699CB6; // Link color
$link-color-hover: lighten($link-color, 15%);
$selection-bg: #362e2f; // Color of selection
$selection-color: #FAE3A0; // Color of selected text
$border-color: lighten($body-color, 30%); // Color for borders
$presentation-heading-color: #699CB6; // Color for headings

$code-block-bg: $body-bg; // Code block background color
$code-block-border-color: lighten($body-color, 60%); // Code block border color
$code-color: var(-quarto-hl-fu-color);
$code-bg: #CBC5B8;

$light-bg-text-color: #485178;
$light-bg-link-color: #699CB6;
$light-bg-code-color: #4F779F;
$dark-bg-text-color: #cec0a5;
$dark-bg-link-color: #699CB6;
$dark-bg-code-color: #4F779F;

/*-- scss:rules --*/

.codewindow {
  background: #4c566a !important;
}

.codewindow .header .file {
  background: #4c566a !important;
}
