/*-- scss:defaults --*/

// Colors

$body-bg: #F3F6FF; // Background color
$body-color: #426a6a; // Default text color
$link-color: #3647a3; // Link color
$link-color-hover: lighten($link-color, 15%);
$selection-bg: #DF683E; // Color of selection
$selection-color: #426a6a; // Color of selected text
$border-color: lighten($body-color, 30%); // Color for borders
$presentation-heading-color: #4c6c77; // Color for headings

$code-block-bg: $body-bg; // Code block background color
$code-block-border-color: darken($body-color, 60%); // Code block border color
$code-color: var(–quarto-hl-fu-color);
$code-bg: #F3F6FF;

$light-bg-text-color: #2e3440;
$light-bg-link-color: #b48ead;
$light-bg-code-color: #222b4c;
$dark-bg-text-color: #eddaeb;
$dark-bg-link-color: #b48ead;
$dark-bg-code-color: #4f93b8;

/*-- scss:rules --*/