/*-- scss:defaults --*/
// title: Bay theme

$body-bg: #00496F; // Background color
$body-color: #ECECEC; // Default text color
$link-color: #DD4123; // Link color
$selection-bg: #B9DAFF; // Color of selection
$selection-color: #DD4123; // Color of selected text
$presentation-heading-color: #DD4123; // Color for headings

$code-bg: #3d325c;
$codewindow-bg: #00496F;
