/*-- scss:defaults --*/
// title: EduNum theme

$body-bg: #F3F6FF; // Background color
$body-color: #426a6a; // Default text color
$link-color: #DF683E; // Link color
$selection-bg: #DF683E; // Color of selection
$selection-color: #426a6a; // Color of selected text
$presentation-heading-color: #4c6c77; // Color for headings

$code-bg: #F3F6FF;
$code-block-border-color: darken($body-color, 60%);
