/*-- scss:defaults --*/
// title: Guonian theme

$body-bg: #1f1237; // Background color
$body-color: #cc9456; // Default text color
$link-color: #7a2233; // Link color
$selection-bg: #FFE29E; // Color of selection
$selection-color: #5C5A85; // Color of selected text
$presentation-heading-color: #be3b49; // Color for headings

$code-bg: #3d325c;
$codewindow-bg: #4c566a;

$light-bg-text-color: #8C394B;
$light-bg-link-color: #EB9B6A;
$light-bg-code-color: #FFE29E;
$dark-bg-text-color: #FFE29E;
$dark-bg-link-color: #EB9B6A;
$dark-bg-code-color: #FFE29E;
