/*-- scss:defaults --*/
// title: Islamic Jerusalem theme

$body-bg: #485178; // Background color
$body-color: #FAE3A0; // Default text color
$link-color: #699CB6; // Link color
$selection-bg: #362e2f; // Color of selection
$selection-color: #FAE3A0; // Color of selected text
$presentation-heading-color: #699CB6; // Color for headings

$code-bg: #CBC5B8;
$codewindow-bg: #4c566a;

$light-bg-code-color: #4F779F;
$dark-bg-text-color: #cec0a5;
$dark-bg-code-color: #4F779F;
