/*-- scss:defaults --*/
// title: Mononoke theme

$body-bg: #1f283d; // Background color
$body-color: #f5Edcd; // Default text color
$link-color: #d14e3e; // Link color
$selection-bg: #762b19; // Color of selection
$selection-color: #657062; // Color of selected text
$presentation-heading-color: #e78a40; // Color for headings

$code-bg: #4D5566;
