/*-- scss:defaults --*/
// title: Pomological red theme

$body-bg: #fffeea; // Background color
$body-color: #3a3e3f; // Default text color
$link-color: #6b452b; // Link color
$selection-bg: #828585; // Color of selection
$selection-color: #919c4c; // Color of selected text
$presentation-heading-color: #c03728; // Color for headings

$light-bg-code-color: #2b323f;
$dark-bg-link-color: #c03728;
$dark-bg-code-color: #919c4c;
