/*-- scss:defaults --*/
// title: Purple theme

$body-bg: #2E075C; // Background color
$body-color: #e0d9fb; // Default text color
$link-color: #599be4; // Link color
$selection-bg: #1c527e; // Color of selection
$selection-color: #ced2fa; // Color of selected text
$presentation-heading-color: #90b7f0; // Color for headings
