/*-- scss:defaults --*/
// title: Islamic Samarqand theme

$body-bg: #4f6974; // Background color
$body-color: #cec0a5; // Default text color
$link-color: #c0d9eb; // Link color
$selection-bg: #9fc5e7; // Color of selection
$selection-color: #4c5283; // Color of selected text
$presentation-heading-color: #6098c0; // Color for headings

$code-bg: #778390;
$codewindow-bg: #4c566a;

$light-bg-link-color: #6998c1;
$light-bg-code-color: #cec0a5;
$dark-bg-code-color: #778390;
