/*-- scss:defaults --*/

// Colors

$body-bg: #00496F; // Background color
$body-color: #ECECEC; // Default text color
$link-color: #DD4123; // Link color
$link-color-hover: lighten($link-color, 15%);
$selection-bg: #B9DAFF; // Color of selection
$selection-color: #DD4123; // Color of selected text
$border-color: lighten($body-color, 30%); // Color for borders
$presentation-heading-color: #DD4123; // Color for headings

$code-block-bg: $body-bg; // Code block background color
$code-block-border-color: lighten($body-color, 60%); // Code block border color
$code-color: var(-quarto-hl-fu-color);
$code-bg: #3d325c;

$light-bg-text-color: #00496F;
$light-bg-link-color: #DD4123;
$light-bg-code-color: #00496F;
$dark-bg-text-color: #ECECEC;
$dark-bg-link-color: #DD4123;
$dark-bg-code-color: #ECECEC;

/*-- scss:rules --*/

.codewindow {
  background: #00496F !important;
}

.codewindow .header .file {
  background: #00496F !important;
}
