/*-- scss:defaults --*/

// Colors

$body-bg: #fffeea; // Background color
$body-color: #3a3e3f; // Default text color
$link-color: #6b452b; // Link color
$link-color-hover: lighten($link-color, 15%);
$selection-bg: #828585; // Color of selection
$selection-color: #c03728; // Color of selected text
$border-color: lighten($body-color, 30%); // Color for borders
$presentation-heading-color: #919c4c; // Color for headings

$code-block-bg: $body-bg; // Code block background color
$code-block-border-color: lighten($body-color, 60%); // Code block border color
$code-color: var(–quarto-hl-fu-color);
$code-bg: darken($body-bg, 5%);

$light-bg-text-color: #3a3e3f;
$light-bg-link-color: #6b452b;
$light-bg-code-color: #2b323f;
$dark-bg-text-color: #fffeea;
$dark-bg-link-color: #919c4c;
$dark-bg-code-color: #c03728;

/*-- scss:rules --*/