/*-- scss:defaults --*/

// Colors

$body-bg: #1f1237; // Background color
$body-color: #cc9456; // Default text color
$link-color: #7a2233; // Link color
$link-color-hover: lighten($link-color, 15%);
$selection-bg: #FFE29E; // Color of selection
$selection-color: #5C5A85; // Color of selected text
$border-color: lighten($body-color, 30%); // Color for borders
$presentation-heading-color: #be3b49; // Color for headings

$code-block-bg: $body-bg; // Code block background color
$code-block-border-color: lighten($body-color, 60%); // Code block border color
$code-color: var(-quarto-hl-fu-color);
$code-bg: #3d325c;

$light-bg-text-color: #8C394B;
$light-bg-link-color: #EB9B6A;
$light-bg-code-color: #FFE29E;
$dark-bg-text-color: #FFE29E;
$dark-bg-link-color: #EB9B6A;
$dark-bg-code-color: #FFE29E;

/*-- scss:rules --*/

.codewindow {
  background: #4c566a !important;
}

.codewindow .header .file {
  background: #4c566a !important;
}
