/*-- scss:defaults --*/

$font-family-sans-serif: 'Gilroy', sans-serif;
$font-family-monospace: 'Gilroy', monospace;
$presentation-heading-font: 'Gilroy', sans-serif;
$presentation-heading-font-weight: 400 !default;
$presentation-font-size-root: 36px;
